/** @format */

.App {
  display: flex;
  /* overflow: hidden; */
  align-items: flex-start;
  background-color: var(--secondary);
}
.App .main {
  background: #fff;
  overflow: hidden;
  margin: auto;
}
